<html>
  <head>
    <title>About Us</title>
  </head>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <body>
    <div class="container well">
      <li>By using this app you can download varoius songs and you don't need another music streaming app.
        Because, songs downloaded from this app are also available to your default music playing app.</li>
      <br>
      <li>Another thing this app does is you can download Instagram Photos. 
        But why to install another application just to download Instagram
        Photos, as this app provides you both.</li>
      <br>
      This app is developed By Suraj Palwe.
      <br>
      <table class="table" style="margin-top:2%;">
        <tr>
          <td>
              <a href="https://www.facebook.com/suraj.palwe.7">Facebook Profile</a>
          </td>
          <td>
            <a href="https://twitter.com/SurajPalwe">Twitter Profile</a>
          </td>
        </tr>
    </div>
  </body>
</html>
