<html>
<head>
  <title>Free download</title>
</head>
<script src="../static/js/jquery.min.js"></script>
<style>
.UrlForm {
  text-align : center;
  margin-top: 10%;
}
.table{
  margin-left:15%;
}
.downloadButtons{
  margin-left:15%;
  text-align: center;
}
#reportImageButton{
  margin-left:5%;
}
</style>
<body>
  <div class="table">
    <button class="downloadButtons" id="instagramButton">Instragram</button>
    <button class="downloadButtons" id="flickrButton">Flickr</button>
  </div>
  <div class="UrlForm">
    <form method="post" id="submitUrlForm">
      <input id="inputUrlField" type="text" name="url" placeholder="Enter Insta Pic URL" required> 
      <input type="submit" name="submitUrl" value="submitUrl">
    </form>
    {% if downloadUrl %}
    <div id="showImage">
      <img src="{{ downloadUrl }}" alt="Image Name" width="300" height="300">
      <div style="margin-top:2%;">
        <a href="{{ downloadUrl }}"><button id="saveImageButton">Save Image</button></a>
        <button id="reportImageButton">Report Image</button>  <!-- Button to report url -->
      </div>
    </div>
    {% endif %}
  </div>
</body>
<script>
$(document).ready(function(){
  $("#instagramButton").click(function(){
    $("#inputUrlField").attr("placeholder","Enter Insta Pic URL");
  });
  $("#flickrButton").click(function(){
    $("#inputUrlField").attr("placeholder","Enter Flickr Pic URL");
  });

}); 
// end of ready function
</script>
</html>
